{% extends 'main.html' %}

{% block content %}



<main class="inbox my-xl auth">
    <div class="content-box">
      <ul class="messages">
        <a style="margin-top: 30px; margin-left:20px" class="backButton" href="{% url 'account' %}"><i class="zmdi zmdi-arrow-left zmdi-hc-2x"></i></a>
        <div class="auth__header text-center">
            <i class="zmdi zmdi zmdi-info zmdi-hc-5x"></i>
            <br>
              <h3>Password reset sent!!</h3>
              <br>
              <p>We have emailed you instructions for setting your password, if any account exists with the email you entered. You should receive tehm shortly.</p>
              <br>
              <p>If you dont receive an email, please make sure you´ve entered the address you registered with, and your spam folder.</p>
            </div>
          
      </div>
    </main>

{% endblock content %}