{% extends 'main.html' %}

{% block content %}

<style>
    input[type='text'],
    input[type='email'],
    input[type='password'] {
      min-width: 24rem;
      width: 100%;
      padding: 1.2rem 1.5rem;
      border-radius: 0.5rem;
      border: 2px solid var(--color-light);
      transition: all 0.3s ease-in-out;
      background-color: var(--color-bg);
    }
    
    input[type='text']:focus,
    input[type='email']:focus,
    input[type='password']:focus,
    input[type='text']:active,
    input[type='email']:active,
    input[type='password']:active {
      outline: none;
      border: 2px solid var(--color-main);
    }
</style>

<main class="inbox my-xl auth">
    <div class="content-box">
      <ul class="messages">
        <a style="margin-top: 30px; margin-left:20px" class="backButton" href="{% url 'account' %}"><i class="zmdi zmdi-thumb-down zmdi-hc-2x"></i></a>
        {% if token.is_valid %}
        <div class="auth__header text-center">
            <i class="zmdi zmdi zmdi-info zmdi-hc-5x"></i>
            <br>
            <h3>Password reset</h3>
            <br>
            <p>Enter your email address.</p>
            <p>The reset email will be sent and instructions how to reset your password.</p>
            <br>
            </div>
            <form class="form" method="POST">
                {% csrf_token %}
                <br>
                {{form}}
                <br>
                <br>
                <div class="text-center">
                    <input class="btn btn--sub btn--lg text-center" type="submit" value="Reset"/>
                </div>
                <br>
                <br>
            </form>
        </div>
        {% else %}
        <div class="auth__header text-center">
            <i class="zmdi zmdi zmdi-info zmdi-hc-5x"></i>
            <br>
            <h3>Password reset</h3>
            <br>
            <p>It looks like these reset link is not valid</p>
            <p>Please try to reset it again.</p>
            <br>
            </div>
            <form class="form" method="POST">
                {% csrf_token %}
                <br>
                {{form}}
                <br>
                <br>
                <div class="text-center">
                    <input class="btn btn--sub btn--lg text-center" type="submit" value="Reset"/>
                </div>
                <br>
                <br>
            </form>
        </div>
        {% endif %}
    </main>

{% endblock content %}