{% extends 'main.html' %}

{% block content %}



<main class="inbox my-xl auth">
    <div class="content-box">
      <ul class="messages">
        <a style="margin-top: 30px; margin-left:20px" class="backButton" href="{% url 'account' %}"><i class="zmdi zmdi-arrow-left zmdi-hc-2x"></i>Back to the login page</a>
        <div class="auth__header text-center">
            <i class="zmdi zmdi-thumb-up zmdi-hc-5x"></i>
            <br>
              <h3>Password reset Completed!!</h3>
              <br>
              <p>Your password reset has been successfully reseted!</p>
              <br>
            </div>
          
      </div>
    </main>

{% endblock content %}